#box_1 { 
	position: static;
	width: 200px;
	height: 200px;
	background: #ee3e64;
}

#box_2 { 
	position: static;
	width: 200px;
	height: 200px;
	background: #44accf;
}

#box_3 { 
	position: static;
	width: 200px;
	height: 200px;
	background: #b7d84b;
}
#box_4 { 
	position: relative;
	width: 200px;
	height: 200px;
	background: #ee3e64;
}

#box_5 { 
	position: relative;
	width: 200px;
	height: 200px;
	background: #44accf;
}

#box_6 { 
	position: relative;
	width: 200px;
	height: 200px;
	background: #b7d84b;
}
#box_7 { 
	position: relative;
	width: 200px;
	height: 200px;
	background: #ee3e64;
}
#box_8 { 
	position: relative;
	left: 200px;
	width: 200px;
	height: 200px;
	background: #44accf;
}
#box_9 { 
	position: relative;
	width: 200px;
	height: 200px;
	background: #b7d84b;
}

#box_10 { 
	position: relative;
	width: 200px;
	height: 200px;
	background: #ee3e64;
}
#box_11 { 
	position: relative;
	left: 200px;
	width: 200px;
	height: 200px;
	background: #44accf;
}
#box_12 { 
	position: relative;
	width: 200px;
	height: 200px;
	background: #b7d84b;
}
#box_13 { 
	position: absolute;
	top: 1500;
	left: 0;
	width: 200px;
	height: 200px;
	background: #ee3e64;
}
#box_14 { 
	position: absolute;
	top: 1500;
	right: 0;
	width: 200px;
	height: 200px;
	background: #44accf;
}
#box_15 { 
	position: absolute;
	bottom: 1500;
	left: 0;
	width: 200px;
	height: 200px;
	background: #b7d84b;
}
#box_16 { 
	position: absolute;
	bottom: 1500;
	right: 0;
	width: 200px;
	height: 200px;
	background: #ebde52;
}